<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript">
    function word(txt) {
        alert (txt)
    }

    </script>
    <title></title>
</head>
<body onload="document.getElementById('word').focus();  document.getElementById('word').setSelectionRange(2, 2); ">
    <div class="wrapper">
            <div class=lightbox__content>
                        <h2 class=lightbox__header>Hej {{ nazwaUzytkownika }},podaj słowo</h2>
                    <form class=lightbox__form action="/nowagra" method="POST">
                        <div class=lightbox__form-control>
                            <input class=lightbox__input placeholder="" type="text" autocomplete="off" id="word" name="word" value={{ formChar }}>
                            <p class=lightbox__footer > {{formWord}} </p>
                            <p class=lightbox__footer > {{formPoints}} </p>
                      
                        </div>
                    </form>

                    <div class=lightbox__actions>
                        <form class=lightbox__form action="/nowagra" method="POST">
                            <button name="new_game" value="start" class=button_off_{{ formButton }} onclick="">Zacznij nową grę</button>
                        </form>
                    </div>
        </div>
    </div>
    <div class="wrapper">
        <div class=ranking__content>
            <p> Top 5:</p>
            <p>{{ ranking_name_1 }} : {{ ranking_points_1 }}</p>
            <p>{{ ranking_name_2 }} : {{ ranking_points_2 }}</p>
            <p>{{ ranking_name_3 }} : {{ ranking_points_3 }}</p>
            <p>{{ ranking_name_4 }} : {{ ranking_points_4 }}</p>
            <p>{{ ranking_name_5 }} : {{ ranking_points_5 }}</p>
        </div>
    </div>



</body>
</html>